.dialogs {
    display: grid;
    grid-template-columns:  2fr 10fr;
    margin: 20px;
}

.dialogs  a {
    text-decoration: none;
}


.dialogsItem .dialog {

}

.dialogsItem .active {
    color: gold;

}

.messages {

}

.messages .message {

}